<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<script th:src="@{/js/jquery-3.7.1.js}"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h1>할 일 목록</h1>
		<form name="search_text" method="get" >
		<label for="search_text">내용:</label>
		<input type="text" name="search_text" id="search_text"
		th:value="${searchDto.search_text}">
		<input type="submit" value="검색">
		</form>
		<br><br>	
		<table border="1">
			<thead>
				<tr>
					<th>완료</th>
					<th>번호</th>
					<th>내용</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(todolist)} ">
					<td colspan="4">내용 없음</td>
				</tr>
				<tr th:if="${!#lists.isEmpty(todolist)}"
					th:each="todo, todostatus : ${todolist}">		
					<td><input type="checkbox" class="updateflag" th:attr="data-todo-no=${todo.no}"
						th:checked="${todo.flag == 'Y'}"></td> 
   					<td th:text="${(pageDto.nowPage-1)*(pageDto.numPerPage)+todostatus.count}">번호</td>
    				<td th:text="${todo.content}">내용</td>
					<td>
						 <button type="button" class="deleteToDo" id="deleteToDo" th:attr="data-todo-no=${todo.no}">삭제</button>	 
					</td>	
				</tr>

			</tbody>
		</table>
	</div>
		<div th:if="${!#lists.isEmpty(todolist)}">
			<div>
				<a th:if="${pageDto.prev}" 
				th:href="@{/(nowPage=${pageDto.pageBarStart-1},search_text=${searchDto.search_text})}">
				&laquo;</a>
				<a th:each="num : ${#numbers.sequence(pageDto.pageBarStart,pageDto.pageBarEnd)}" th:text="${num}" 
				th:href="@{/(nowPage=${num},search_text=${searchDto.search_text})}">번호</a>
				<a th:if="${pageDto.next}" th:href="@{/board(nowPage=${pageDto.pageBarEnd+1},search_text=${searchDto.search_text})}">&raquo;</a>
			</div>	
		</div>
	<br>
	<h2>할 일 추가</h2>
	<form name="todolist" action="/todo" method="post">
	<input type="hidden" name="flag" id="flag" value="N"> 	
	<input type="text" name="new_ToDo" id="newToDo" placeholder="할일을 입력하세요">
	<input type="submit" value="추가하기" > 
	</form>
	<script>
        const form = document.todolist;
        
        form.addEventListener('submit', (e) => {
            e.preventDefault(); 
            
            let content = form.new_ToDo.value;
           
            if (!content) {
                alert('할 일을 추가해 주세요.');
            } else {
                const payload = new FormData(form); 
                
                fetch("/todo", {
                    method: 'post',
                    body: payload
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.res_msg);
                    if (data.res_code == 200) {
                        location.reload();
                    }
                })
              
            }
        });
		$(function(){
			$('.deleteToDo').on('click',function(){
				const deleteNo = $(this).data('todo-no');
				const perMission = confirm("목록에서 지우시겠습니까?")
				if(perMission == false){
					alert('삭제를 취소하셨습니다')
				}else{
					fetch('/todo/'+deleteNo,{
						method: 'delete'
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == 200){
							location.reload();
						}
					})
				}
			})
		})
        
        $(function(){
        	$('.updateflag').on('change',function(){
        		const updateFlag = $(this).data('todo-no');
        		fetch('/todo/'+updateFlag,{
        			method: 'post'
        		})
        		.then(response => response.json())
        		.then(data => {
        			if(data.res_code == 500){
        				alert('실패');
        			}
        		})
        	})
        })
        
    </script>
</body>
</html>